<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<title>Document</title>
	</head>
	<body>
		<div class="box">
			<div class="date">
				<span id="day">Monday</span><span id="monthdate">Feb 17</span><span id="year">2020</span>
			</div>
			<div class="icon">
				<img src={{iconUrl}} class="weather-icon" alt="" />
			</div>
			<h1 class="text-center temperature">{{temp}}&deg;C</h1>
			<h3 class="text-center address">{{location}},{{country}}</h3>
			<div class="info">
				<div class="infos">
					<p>Min</p>
					<h3>{{mintemp}}&deg;C</h3>
				</div>
				<div class="infos">
					<p>Wind</p>
					<h3>{{wind}} km</h3>
				</div>
				<div class="infos">
					<p>Max</p>
					<h3>{{maxtemp}}&deg;C</h3>
				</div>
			</div>
		</div>
		<script src="date.js"></script>
	</body>
</html>
